* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: rgb(0,32,130);
    background: radial-gradient(circle, rgba(0,32,130,1) 0%, rgba(0,8,37,1) 100%);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.mic-img {
    transform: scale(0.4);
}

#samantha-button {
    width: 75px;
    height: 75px;
    background: rgb(63,81,181);
    background: linear-gradient(90deg, rgba(63,81,181,1) 0%, rgba(233,30,99,1) 100%);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
    position: absolute;
    right: 50px;
    bottom: 50px;
    outline: none;
}

#samantha-button:hover {
    filter: brightness(1.2);
}

#emergency-stop {
    position: absolute;
    right: 125px;
    bottom: 37px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transform: scale(0.4);
}

#samantha-result {
    text-align: center;
    width: 70%;
    position: absolute;
    bottom: 70px;
    left: 15%;
    font-size: 1.75rem;
}

#samantha-processing {
    margin-top: 50px;
}

/* SAMANTHA VISUAL */

#samantha-visual {
    width: 50%;
    height: 50%;
    margin-top: 115px;
    transform: scale(1.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LEFT STATS */

.left-stats {
    position: absolute;
    left: 75px;
    top: 10%;
    height: 65%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.left-stats h1 {
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.stats-item {
    display: flex;
    flex-direction: column;
}

.progress-outer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    width: 300px;
    height: 10px;
    margin-top: 15px;
    overflow: hidden;
}

.progress-inner {
    height: 100%;
    background: rgb(63,81,181);
    background: linear-gradient(90deg, rgba(63,81,181,1) 0%, rgba(233,30,99,1) 100%);
    transition: width 1000ms;
}

#pi1 {
    width: 65%;
}

#pi2 {
    width: 45%;
}

#pi3 {
    width: 55%;
}

#pi4 {
    width: 70%;
}

#pi5 {
    width: 25%;
}

#oi {
    width: 33%;
}

.overall-progress {
    margin-top: 50px;
}

.overall-progress p {
    font-size: 1.2rem;
}

.overall-outer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 450px;
    height: 20px;
    margin-top: 15px;
    overflow: hidden;
}

/* RIGHT STATS */

.right-stats {
    position: absolute;
    right: 75px;
    top: 10%;
    height: 65%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}

.code-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 300px;
    height: 425px;
    overflow: hidden;
    padding: 15px;
    scroll-behavior: smooth;
}

a {
    color: white;
    margin-top: -50px;
    z-index: 6;
}